@model CircuitViewModel

@{
    ViewData["Title"] = "Create Circuit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Circuit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label">Length (km)</label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laps" class="control-label"></label>
                <input asp-for="Laps" class="form-control" />
                <span asp-validation-for="Laps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearFirstGP" class="control-label"></label>
                <input asp-for="YearFirstGP" class="form-control" />
                <span asp-validation-for="YearFirstGP" class="text-danger"></span>
            </div>

			<h3 class="mt-3">Record Lap</h3>

			<div class="form-inline">
				<div class="form-group">
					<label asp-for="MinutesLapRecord" class="control-label"></label>
					<input asp-for="MinutesLapRecord" class="form-control" />
					<span asp-validation-for="MinutesLapRecord" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="SecondsLapRecord" class="control-label"></label>
					<input asp-for="SecondsLapRecord" class="form-control" />
					<span asp-validation-for="SecondsLapRecord" class="text-danger"></span>
				</div>
			</div>


            <div class="form-group">
                <label asp-for="DriverLapRecord" class="control-label"></label>
                <input asp-for="DriverLapRecord" class="form-control" />
                <span asp-validation-for="DriverLapRecord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearLapRecord" class="control-label"></label>
                <input asp-for="YearLapRecord" class="form-control" />
                <span asp-validation-for="YearLapRecord" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
