html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer p{
    line-height:1.5;
}

footer{
    height:70px;
}

select.form-control option {
    white-space: normal;
}


.articles[multiple] option {
    margin: 10px;
}