@model ArticleViewModel

<h2>Create Article</h2>

@using (Html.BeginForm("Create", "Article"))
{
	@Html.LabelFor(m => m.Content)
	@Html.TextBoxFor(m => m.Content)

		<h3>Subarticles</h3>

		<div id="subarticles">
			<div class="subarticle">
			</div>
		</div>

		<button type="button" onclick="addSubArticle()">Add subarticle</button>

		<button type="button" onclick="removeSubArticle()">Remove subarticle</button>

		<input type="submit" value="Create" />
}

@section scripts{
		<script>
			var subArticleIndex = 0;

			function addSubArticle() {
				var index = ++subArticleIndex;

				var subArticle = $('<div/>', {
					class: 'subarticle'
				});

				subArticle.append($('<label/>', {
					for: 'SubArticles_' + index + '__Content',
					text: 'Subarticle ' + index + ':'
				}));

				subArticle.append($('<input/>', {
					type: 'text',
					name: 'SubArticles[' + index + '].Content',
					id: 'SubArticles_' + index + '__Content'
				}));

				$('#subarticles').append(subArticle);
			}

			function removeSubArticle() {
				if (subArticleIndex > 0) {
					$('#subarticles .subarticle').last().remove();
					subArticleIndex--;
				}
			}
		</script>
}