@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4">Rules & Penalties in F1</h1>
</div>
<p class="text-justify">This is Web Application's target is to manage the regulations and penalties in F1.<br/>
		It has been developed using BDD, DDD and TDD as software development technologies.
</p>
