@model ArticleViewModel

<h2>Create Article</h2>

@using (Html.BeginForm("Create", "Articles"))
{
	@Html.LabelFor(m => m.Content)
	@Html.TextAreaFor(m => m.Content, new {@class = "form-control"})
	@Html.ValidationMessageFor(m => m.Content);

		<h3>Subarticles</h3>

		<div id="subarticles">
			<div class="subarticle">
			</div>
		</div>

		<button type="button" onclick="addSubArticle()" id="idAdSubarticle">Add subarticle</button>

		<button type="button" onclick="removeSubArticle()" id="idRemoveSubarticle">Remove subarticle</button>

		<input type="reset" onclick="resetForm()" value="Reset" id="resetButton"/>

		<input type="submit" value="Create" id="submit"/>
}

@section scripts{
		<script>
			var subArticleIndex = 0;

			function addSubArticle() {
				var index = ++subArticleIndex;

				var subArticle = $('<div/>', {
					class: 'subarticle'
				});

				subArticle.append($('<label/>', {
					for: 'SubArticles_' + index + '__Content',
					text: 'Subarticle ' + index + ':'
				}));

				subArticle.append($('<textarea/>', {
					name: 'SubArticles[' + (index-1) + '].Content',
					id: 'SubArticles_' + (index-1) + '__Content'
				}));

				$('#subarticles').append(subArticle);
			}


			function removeSubArticle() {
				if (subArticleIndex > 0) {
					$('#subarticles .subarticle').last().remove();
					subArticleIndex--;
				}
			}

			function resetForm(){
				console.log("reset pressed");
				while(subArticleIndex > 0){
					removeSubArticle();
				}
			}
		</script>
}