@model IEnumerable<ArticleViewModel>

@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model)
		{
				<tr>
					<td>
					@Html.DisplayFor(modelItem => item.Content)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id">Details</a>
					</td>
				</tr>
			@if (item.SubArticles.Any())
			{
                <tr style="border-style:hidden">
					<td colspan="4">
						<partial name = "_SubArticlesTree" model="item.SubArticles">
					</td>
				</tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
			}
		}
    </tbody>
</table>